*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./images/tacoBackground.jpg');
  background-size: cover;

}
.App {
  // min-height: 800px;
}

