.recipeCard {
  margin: 10px;
  padding: 10px;
  opacity: .8;
  min-width: 300px;
  border-radius: 5px;
  background-color: $highlight;

  .recipeListDiv{
  }
  
  .recipeList {
    margin: 10px;
    overflow: scroll;
    border: 2px solid $secondary;
    border-radius: 5px;
    padding: 3px;
  }
}

.homeRecipes {
  height: 300px;
  
  .homeList {
    height: 250px
  }
}