.carouselDisplay {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.carousel {
  display: flex;
  overflow: scroll;
  width: 90%;
}

.fa-chevron-left,
.fa-chevron-right {
  background-color: $secondary;
  border-radius: 50%;
  height: 50px;
  margin: 5px;
  opacity: .8;
  width: 50px;
  @include divFlex(center, center, row);
 
  &:hover {
    background-color: $lowlight;
    opacity: 1;
  }
}